@import '~element-ui/lib/theme-chalk/index.css';
@import 'variables.scss';
@import 'mixin.scss';
@import 'sidebar.scss';

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    margin: 0;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

//main-container全局样式
.app-container {
    padding: 20px;
}

.filter-container {
    padding-bottom: 8px;
}

.text-center {
    text-align: center
}

form .tips {
    color:#909399;
    padding-left: 5px;
}

.el-page-header__content {
    font-size: 16px;
}

.el-divider--horizontal {
    margin: 10px 0 24px;
}

.el-table th:first-child > .cell {
    padding: 0 14px !important;
}

.el-table--border th.is-leaf:first-child > .cell {
    padding: 0 14px 0px 10px !important;
}

.selection-bar {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 13px 12px;
    height: 40px;
    color: #777;
    .selected—title {
        flex-shrink: 0;
        padding-right: 20px;
        border-right: 1px solid #e6e6e6;
        .selected—count {
            color: #409EFF;
        }
    }
    .selection-items-box {
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        .selection-item {
            display: flex;
            align-items: center;
            flex-direction: row;
            text-align: left;
            width: auto;
            padding: 15px;
            .selection-item-name {
                margin-left: 3px;
                cursor: pointer;
                &:hover {
                    color: #409EFF;
                }
            }
        }
    }
}

.tooltip-icon {
    margin-left: 3px;
}

.el-form .el-form-item__label {
    padding-bottom: 0px;
}

.dialog-form {
    .el-form-item {
      margin-bottom: 8px;
      padding-bottom: 15px;
      .el-form-item__content {
        width: 60%;
      }
    }
}